<footer class="footer">
    <div class="top-footer">
        <div class="container">
            <div data-spollers="600,max" data-one-spoller class="top-footer__content">
                <div class="top-footer__item">
                    <button type="button" data-spoller class="top-footer__title">
                        <span>О компании</span>
                        <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                    </button>
                    <div class="top-footer__body">
                        <ul>
                            <li>
                                <a href="./">О нас</a>
                            </li>
                            <li>
                                <a href="./">Наши преимущества</a>
                            </li>
                            <li>
                                <a href="./">Лицензии и сертификаты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-footer__item">
                    <button type="button" data-spoller class="top-footer__title">
                        <span>Услуги</span>
                        <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                    </button>
                    <div class="top-footer__body">
                        <ul>
                            <li>
                                <a href="./">Токарные работы</a>
                            </li>
                            <li>
                                <a href="./">Фрезерные работы</a>
                            </li>
                            <li>
                                <a href="./">Сопутствующие услуги</a>
                            </li>
                            <li>
                                <a href="./">Оборудование</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-footer__item">
                    <button type="button" data-spoller class="top-footer__title">
                        <span>Информация</span>
                        <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                    </button>
                    <div class="top-footer__body">
                        <ul>
                            <li>
                                <a href="./">Портфолио</a>
                            </li>
                            <li>
                                <a href="./">Блог</a>
                            </li>
                            <li>
                                <a href="./">FAQ</a>
                            </li>
                            <li>
                                <a href="./">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-footer__item last">
                    <button type="button" class="top-footer__title mob">
                        <span>Контакты</span>
                        <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                    </button>
                    <div class="top-footer__body">
                        <ul>
                            <li>
                                <a href="tel:79882500408" class="phone">
                                    <img loading="lazy" src="img/icon/phone1.svg" alt="">
                                    <span>+7 988 250-04-08</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@cnc-techno.ru" class="email">
                                    <img loading="lazy" src="img/icon/mail1.svg" alt="">
                                    <span>info@cnc-techno.ru</span>
                                </a>
                            </li>
                            <li>
                                <div class="location">
                                    <img loading="lazy" src="img/icon/location.svg" alt="">
                                    <span>
                                        Московская обл. г. Подольск, Домодедовское шоссе д.13в
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="bottom-footer__content">
                <a href="./" class="bottom-footer__logo">
                    <img loading="lazy" src="img/icon/logo2.svg" alt="">
                </a>
                <div class="bottom-footer__copy">
                    © 2025 CNC-Techno.ru -
                    <br>
                    Механическая обработка на ЧПУ
                </div>
                <ul>
                    <li>
                        <a href="./">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="./">Договор оферты</a>
                    </li>
                </ul>
                <div class="bottom-footer__socials">
                    <a href="./">
                        <img loading="lazy" src="img/icon/telegram.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icon/ok.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icon/vk.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>