<div class="block-forms">
    <img loading="lazy" src="img/image1.webp" alt="" class="block-forms__pic1">
    <img loading="lazy" src="img/image2.webp" alt="" class="block-forms__pic2">
    <div class="container">
        <div class="block-forms__content">
            <div class="block-forms__top">
                <div class="block-forms__title">
                    Рассчитаем стоимость вашего заказа за 3 часа
                </div>
                <div class="block-forms__subtitle">
                    <div class="block-forms__icon">
                        <img loading="lazy" src="img/image3.webp" alt="">
                    </div>
                    <p>
                        Отправьте чертежи или описание – <span>получите точный расчет стоимости и сроков</span>
                    </p>
                </div>
            </div>
            <form action="#" class="form">
                <div class="form__input form-input1">
                    <input data-required autocomplete="off" type="text" name="form[]" placeholder=" ">
                    <div class="form__placeholder">Ваше имя <span>*</span></div>
                </div>
                <div class="form__input form-input2">
                    <input data-required autocomplete="off" type="text" name="form[]" placeholder=" " class="telephone">
                    <div class="form__placeholder">Номер телефона <span>*</span></div>
                </div>
                <div class="form__input form-input3">
                    <select name="form[]" class="select1">
                        <option value="1" selected>Тип услуги</option>
                        <option value="2">Тип услуги2</option>
                        <option value="3">Тип услуги3</option>
                        <option value="4">Тип услуги4</option>
                    </select>
                </div>
                <div class="form__input form-input4">
                    <textarea placeholder="Комментарий"></textarea>
                    <div class="form__files">
                        <div class="previews"></div>
                        <button type="button" class="form__file">
                            <input type="file" accept="image/*">
                            <img loading="lazy" src="img/icon/file.svg" alt="">
                            <span>Прикрепить файл (чертеж)</span>
                        </button>
                    </div>
                </div>
                <div class="form__input form-input5">
                    <input autocomplete="off" type="text" name="form[]" placeholder="E-mail">
                </div>
                <div class="form__input form-input6">
                    <button type="submit" class="btn btn-orange">
                        <span>Рассчитать стоимость</span>
                        <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>