<header class="header">
  <div class="top-header">
    <div class="container">
      <div class="top-header__content">
        <div class="top-header__left">
          <a href="./" class="top-header__logo">
            <img src="img/icon/logo.svg" alt="">
          </a>
          <p>
            Услуги механической обработки, комплексные решения для отечественных производителей
          </p>
        </div>
        <div class="top-header__right">
          <div class="top-header__contacts">
            <a href="tel:79882500408" class="top-header__phone">
              <img src="img/icon/phone1.svg" alt="">
              <span>+7 988 250-04-08</span>
            </a>
            <a href="./" class="top-header__email">info@cnc-techno.ru</a>
          </div>
          <a href="./" data-popup="#call" class="btn">Заказать звонок</a>
        </div>
        <div class="top-header__icon">
          <div class="icon-menu">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container">
      <ul data-da=".top-header__right, 992, last" class="bottom-header__menu">
        <li>
          <a href="./">Токарные работы</a>
        </li>
        <li>
          <a href="./">Фрезерные работы</a>
        </li>
        <li>
          <a href="./">Сопутствующие услуги</a>
        </li>
        <li>
          <a href="./">Оборудование</a>
        </li>
        <li>
          <a href="./">Контакты</a>
        </li>
        <li>
          <a href="./">Блог</a>
        </li>
        <li>
          <a href="./">faq</a>
        </li>
      </ul>
    </div>
  </div>
</header>