<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сертификаты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <h1 class="container">
                    <ul>
                        <li>
                            <a href="/">
                                <img src="img/icon/home.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                О компании
                            </a>
                        </li>
                        <li>Сертификаты</li>
                    </ul>
                </h1>
            </div>

            <div class="block-main-certificates">
                <div class="container">
                    <div class="block-main-certificates__content">
                        <div class="block-main-certificates__body">
                            <h1 class="title2 big">
                                Лицензии и сертификаты
                            </h1>
                            <div class="block-main-certificates__line"></div>
                            <p>
                                На этой странице размещены документы, подтверждающие деятельность, компетенции и
                                надежность CNC TECHNO как производственной компании в сфере механической обработки на
                                ЧПУ
                            </p>
                        </div>
                        <div class="block-main-certificates__image">
                            <img src="img/image14.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-certificates">
                <div class="container">
                    <div data-showmore="items" class="block-showmore">
                        <div data-showmore-content="1" class="block-showmore__content">
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert1.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Сертификат соответствия ISO 9001:2015
                                    </div>
                                    <p>
                                        Подтверждает соответствие системы менеджмента качества требованиям
                                        международного стандарта
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert2.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Сертификат о регистрации компании
                                    </div>
                                    <p>
                                        Официальное свидетельство о государственной регистрации юридического лица
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert3.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Лицензия на осуществление деятельности
                                    </div>
                                    <p>
                                        Лицензия на осуществление деятельности в области производства
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert4.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Пожарная безопасность
                                    </div>
                                    <p>
                                        Сертификат подтверждает соответствие требованиям пожарной безопасности
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert1.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Сертификат соответствия ISO 9001:2015
                                    </div>
                                    <p>
                                        Подтверждает соответствие системы менеджмента качества требованиям
                                        международного стандарта
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert2.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Сертификат о регистрации компании
                                    </div>
                                    <p>
                                        Официальное свидетельство о государственной регистрации юридического лица
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert3.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Лицензия на осуществление деятельности
                                    </div>
                                    <p>
                                        Лицензия на осуществление деятельности в области производства
                                    </p>
                                </div>
                            </div>
                            <div class="block-services__slide">
                                <div class="block-services__image">
                                    <img loading="lazy" src="img/cert4.webp" alt="">
                                    <a href="#download" download="#download" class="block-services__arrow">
                                        Скачать PDF
                                    </a>
                                </div>
                                <div class="block-services__text">
                                    <div class="block-services__title">
                                        Пожарная безопасность
                                    </div>
                                    <p>
                                        Сертификат подтверждает соответствие требованиям пожарной безопасности
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button hidden data-showmore-button type="button" class="block-showmore__button btn">
                            <span>
                                Показать еще
                                <img src="img/icon/arrow2.svg" alt="">
                            </span>
                            <span>
                                Скрыть
                                <img src="img/icon/arrow2.svg" alt="">
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="block-documents">
                <div class="container">
                    <div class="block-documents__content">
                        <div class="block-documents__left">
                            <h2 class="title2">
                                Какие документы можем предоставить
                            </h2>
                            <p>
                                По запросу мы можем предоставить документы, необходимые для начала сотрудничества,
                                заключения договора или проверки компании
                            </p>
                        </div>
                        <div class="block-documents__right">
                            <ul>
                                <li>
                                    <div class="block-documents__icon">
                                        <img loading="lazy" src="img/icon/check1.svg" alt="">
                                    </div>
                                    <p>
                                        Реквизиты компании
                                    </p>
                                </li>
                                <li>
                                    <div class="block-documents__icon">
                                        <img loading="lazy" src="img/icon/check1.svg" alt="">
                                    </div>
                                    <p>
                                        Документы для заключения договора
                                    </p>
                                </li>
                                <li>
                                    <div class="block-documents__icon">
                                        <img loading="lazy" src="img/icon/check1.svg" alt="">
                                    </div>
                                    <p>
                                        Карточка организации
                                    </p>
                                </li>
                                <li>
                                    <div class="block-documents__icon">
                                        <img loading="lazy" src="img/icon/check1.svg" alt="">
                                    </div>
                                    <p>
                                        Сертификаты и лицензии, если применимо
                                    </p>
                                </li>
                                <li>
                                    <div class="block-documents__icon">
                                        <img loading="lazy" src="img/icon/check1.svg" alt="">
                                    </div>
                                    <p>
                                        Подтверждающие материалы по производству, оборудованию и выполненным работам
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits1 block-benefits-cert">
                <div class="container">
                    <h2 class="title2">
                        Нам доверяют, потому что
                    </h2>
                    <div class="block-benefits1__body">
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__icon">
                                <img loading="lazy" src="img/icon/production.svg" alt="">
                            </div>
                            <div class="block-benefits1__text">
                                <div class="block-benefits1__title">
                                    Современное производство
                                </div>
                                <p>
                                    Новейшее оборудование и технологии
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__icon">
                                <img loading="lazy" src="img/icon/price2.svg" alt="">
                            </div>
                            <div class="block-benefits1__text">
                                <div class="block-benefits1__title">
                                    Работаем по чертежам заказчика
                                </div>
                                <p>
                                    Точное соблюдение требований и технических параметров
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__icon">
                                <img loading="lazy" src="img/icon/check2.svg" alt="">
                            </div>
                            <div class="block-benefits1__text">
                                <div class="block-benefits1__title">
                                    Контроль качества
                                </div>
                                <p>
                                    Многоступенчатая проверка на каждом этапе производства
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__icon">
                                <img loading="lazy" src="img/icon/data.svg" alt="">
                            </div>
                            <div class="block-benefits1__text">
                                <div class="block-benefits1__title">
                                    Соблюдаем сроки
                                </div>
                                <p>
                                    Четкое планирование и выполнение работ в оговоренные сроки
                                </p>
                            </div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__icon">
                                <img loading="lazy" src="img/icon/partners2.svg" alt="">
                            </div>
                            <div class="block-benefits1__text">
                                <div class="block-benefits1__title">
                                    Работаем с юридическими лицами
                                </div>
                                <p>
                                    Подготавливаем все необходимые документы для сотрудничества
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms2 block-forms-cert">
                <img loading="lazy" src="img/image10.webp" alt="" class="block-forms__pic2">
                <div class="container">
                    <div class="block-forms__content">
                        <div class="block-forms__top">
                            <div class="block-forms__title">
                                Нужны документы для согласования сотрудничества?
                            </div>
                            <p>
                                Свяжитесь с нами — <strong>
                                    подготовим необходимые материалы и ответим на вопросы по работе с CNC
                                    TECHNO
                                </strong>
                            </p>
                        </div>
                        <div class="block-forms__buttons">
                            <a href="./" class="btn btn-orange">
                                <span>Оставить заявку</span>
                                <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                            </a>
                            <a href="./" class="btn btn-white">
                                <img loading="lazy" src="img/icon/location.svg" alt="">
                                <span>Контакты</span>
                            </a>
                            <a href="./" class="btn btn-white">
                                <img loading="lazy" src="img/icon/phone1.svg" alt="">
                                <span>Позвонить</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/cookie.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="call" aria-hidden="true" class="popup">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div data-close class="popup__close">
                    <img loading="lazy" src="img/icon/close.svg" alt="">
                </div>
                <div class="popup__body">
                    <div class="popup__top">
                        <div class="popup__title">Заказать звонок</div>
                        <p>
                            Оставьте номер телефонаи наш менеджер вам перезвонит
                        </p>
                    </div>
                    <form action="#" class="form">
                        <div class="form__inputs">
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]" placeholder=" ">
                                <div class="form__placeholder">Ваше имя <span>*</span></div>
                            </div>
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]" placeholder=" "
                                    class="telephone">
                                <div class="form__placeholder">Номер телефона <span>*</span></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-orange">
                            <span>Отправить</span>
                            <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                        </button>
                        <div class="form__text">
                            Нажимая на кнопку “Отправить” вы соглашаетесь с обработкой <a href="./">персональных
                                данных</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>