<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Наше оборудование</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <main class="main">

            <div class="block-equipment">
                <div class="container">
                    <div class="heading-complex">
                        <h2 class="title2 big">
                            Наше оборудование
                        </h2>
                        <div class="heading-complex__right">
                            <div class="heading-complex__arrows">
                                <div class="equipment-arrow-prev arrow-prev">
                                    <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                </div>
                                <div class="equipment-arrow-next arrow-next">
                                    <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-equipment__slider swiper">
                    <div class="block-equipment__wrapper swiper-wrapper">
                        <a href="./" class="block-equipment__slide swiper-slide active">
                            SPECTR SVL 1055
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            OKUMA ES-L-10II
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            SKM NL 2500L
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            TCM-SII
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            AML – 328
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            HAAS TL-25 HE
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            SKM NL 2500L
                        </a>
                        <a href="./" class="block-equipment__slide swiper-slide">
                            SPECTR SVL 1055
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-product-card2">
                <div class="top-product-card2">
                    <div class="container">
                        <div class="top-product-card2__content">
                            <div class="top-product-card2__body">
                                <h1 class="title2">
                                    SPECTR SVL 1055
                                </h1>
                                <div class="top-product-card2__subtitle">
                                    Фрезерный вертикальный обрабатывающий центр с ЧПУ
                                </div>
                                <ul>
                                    <li>
                                        <p>
                                            Максимальная скорость вращения шпинделя — <span>10000 об/мин.</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Мощность шпинделя — <span>7,5 кВт.</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Максимальное расстояние от торца шпинделя до стола — <span>700 мм</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Размер стола — <span>550х1000 мм</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Максимальная нагрузка на стол — <span>800 кг</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Перемещение по оси X — <span>850 мм</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Перемещение по оси Y — <span>550 мм</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Перемещение по оси Z — <span>550 мм</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Количество позиций в магазине инструмента — <span>24 шт.</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Точность позиционирования по всем осям — <span>±0,004 мм</span>
                                        </p>
                                    </li>
                                </ul>
                                <a href="#characteristics" class="top-product-card2__link">Все характеристики</a>
                            </div>
                            <div class="top-product-card2__image">
                                <img loading="lazy" src="img/image11.webp" alt="">
                            </div>
                        </div>
                        <div class="gallery-product-card">
                            <div class="gallery-product-card__slider swiper">
                                <div class="gallery-product-card__wrapper swiper-wrapper">
                                    <a href="img/portfolio/image5.webp" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide">
                                        <img loading="lazy" src="img/portfolio/image5.webp" alt=""
                                            class="gallery-product-card__pic1">
                                    </a>
                                    <a href="files/videos/video.mp4" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide video">
                                        <img loading="lazy" src="img/portfolio/image1.webp" alt=""
                                            class="gallery-product-card__pic1">
                                        <div class="play">
                                            <img loading="lazy" src="img/icon/play.svg" alt="">
                                        </div>
                                    </a>
                                    <a href="img/portfolio/image6.webp" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide">
                                        <img loading="lazy" src="img/portfolio/image6.webp" alt=""
                                            class="gallery-product-card__pic1">
                                    </a>
                                    <a href="img/portfolio/image7.webp" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide">
                                        <img loading="lazy" src="img/portfolio/image7.webp" alt=""
                                            class="gallery-product-card__pic1">
                                    </a>
                                    <a href="img/portfolio/image6.webp" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide">
                                        <img loading="lazy" src="img/portfolio/image6.webp" alt=""
                                            class="gallery-product-card__pic1">
                                    </a>
                                    <a href="img/portfolio/image7.webp" data-fancybox="gallery2"
                                        class="gallery-product-card__slide swiper-slide">
                                        <img loading="lazy" src="img/portfolio/image7.webp" alt=""
                                            class="gallery-product-card__pic1">
                                    </a>
                                </div>
                            </div>
                            <div class="product-card-arrow-prev arrow-prev">
                                <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                            </div>
                            <div class="product-card-arrow-next arrow-next">
                                <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-product-card2">
                    <div data-tabs class="tabs">
                        <div class="tabs__navigations">
                            <nav data-tabs-titles class="tabs__navigation">
                                <button type="button" class="tabs__title _tab-active">Технические
                                    характеристики</button>
                                <button type="button" class="tabs__title">область применения</button>
                            </nav>
                        </div>
                        <div data-tabs-body class="tabs__content">
                            <div class="tabs__body">
                                <div class="container">
                                    <div id="characteristics" class="tabs-characteristics">
                                        <div class="tabs-characteristics__title">
                                            Общие характеристики
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Максимальная скорость вращения шпинделя
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    10000 об/мин.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Мощность шпинделя
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    7,5 кВт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Максимальное расстояние от торца шпинделя до стола
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    700 мм
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Размер стола
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    550х1000 мм
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Максимальная нагрузка на стол
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    800 кг
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Перемещение по оси X
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    850 мм
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Перемещение по оси Y
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    550 мм
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Перемещение по оси Z
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    550 мм
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Количество позиций в магазине инструмента
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    24 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tabs-characteristics__name">
                                                    Точность позиционирования по всем осям
                                                </div>
                                                <div class="tabs-characteristics__value">
                                                    ±0,004 мм
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__body">
                                <div class="container">
                                    <div class="tabs-descr2">
                                        <div class="tabs-descr2__title">
                                            Типы изготавливаемой продукции на этом станке
                                        </div>
                                        <div class="tabs-descr2__body">
                                            <div class="tabs-descr2__cards">
                                                <div class="tabs-descr2__column">
                                                    <div class="tabs-descr2__image">
                                                        <img loading="lazy" src="img/image6.webp" alt="">
                                                    </div>
                                                    <div class="tabs-descr2__text">
                                                        <div class="tabs-descr2__name">
                                                            Шестерни
                                                        </div>
                                                        <p>
                                                            Шестерни являются универсальной деталью и нашли применение
                                                            во множестве сфер. Их употребляют при создании часов,
                                                            принтеров, мясорубок, блендеров, коробок передач и так
                                                            далее. Существует множество разновидностей шестерен, каждая
                                                            из которых подвергается определенному уровню нагрузки
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tabs-descr2__column">
                                                    <div class="tabs-descr2__image">
                                                        <img loading="lazy" src="img/image7.webp" alt="">
                                                    </div>
                                                    <div class="tabs-descr2__text">
                                                        <div class="tabs-descr2__name">
                                                            Валы
                                                        </div>
                                                        <p>
                                                            Валы используются во многих механизмах, в том числе и
                                                            конвейерных. За счет добросовестного и качественного
                                                            выполнения деталей, они становятся популярны в структуре
                                                            многих печатных маши
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabs-descr2__cards">
                                                <div class="tabs-descr2__column">
                                                    <div class="tabs-descr2__image">
                                                        <img loading="lazy" src="img/image8.webp" alt="">
                                                    </div>
                                                    <div class="tabs-descr2__text">
                                                        <div class="tabs-descr2__name">
                                                            Втулки
                                                        </div>
                                                        <p>
                                                            По форме втулка представляет собой цилиндр со сквозным
                                                            отверстием посередине. В зависимости от точного назначения
                                                            детали она может снабжаться внутренней резьбой, каналами или
                                                            отверстиями для поступления смазки, ступенями на наружной
                                                            поверхности или внутри
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tabs-descr2__column">
                                                    <div class="tabs-descr2__image">
                                                        <img loading="lazy" src="img/image9.webp" alt="">
                                                    </div>
                                                    <div class="tabs-descr2__text">
                                                        <div class="tabs-descr2__name">
                                                            Фланцы
                                                        </div>
                                                        <p>
                                                            Фланец - это кольцо из стали или сплава с отверстиями для
                                                            крепежных элементов - болтов/шпилек. Применение - для
                                                            монтажа труб, сальников, задача - обеспечить разъемное
                                                            соединение пустотелых изделий и элементов
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms2">
                <img loading="lazy" src="img/image10.webp" alt="" class="block-forms__pic2">
                <div class="container">
                    <div class="block-forms__content">
                        <div class="block-forms__top">
                            <div class="block-forms__title">
                                Запишитесь на демонстрацию станка в работе
                            </div>
                        </div>
                        <form action="#" class="form">
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]" placeholder=" ">
                                <div class="form__placeholder">Ваше имя <span>*</span></div>
                            </div>
                            <div class="form__input">
                                <input data-required autocomplete="off" type="text" name="form[]" placeholder=" "
                                    class="telephone">
                                <div class="form__placeholder">Номер телефона <span>*</span></div>
                            </div>
                            <div class="form__input">
                                <button type="submit" class="btn btn-orange">
                                    <span>Оставить заявку</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>