<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro">
				<img src="img/image4.webp" alt="" class="block-intro__pic1">
				<div class="container">
					<div class="block-intro__content">
						<h1 class="title1">
							Механическая обработка на ЧПУ
							<span>для производственных предприятий</span>
						</h1>
						<ul>
							<li>
								<div class="block-intro__icon">
									<img src="img/icon/check1.svg" alt="">
								</div>
								<span>Токарные<br> и фрезерные работы</span>
							</li>
							<li>
								<div class="block-intro__icon">
									<img src="img/icon/check1.svg" alt="">
								</div>
								<span>Серийное<br> производство</span>
							</li>
							<li>
								<div class="block-intro__icon">
									<img src="img/icon/check1.svg" alt="">
								</div>
								<span>От эскиза<br> до готового изделия</span>
							</li>
						</ul>
						<div class="block-intro__buttons">
							<a data-popup="#call" href="./" class="btn btn-orange">
								<span>Рассчитать стоимость</span>
								<img loading="lazy" src="img/icon/arrow1.svg" alt="">
							</a>
							<a href="./" class="block-intro__link">
								<img src="img/icon/app-menu.svg" alt="">
								<span>Наши услуги</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-benefits1">
				<div class="container">
					<div class="block-benefits1__body">
						<div class="block-benefits1__column">
							<div class="block-benefits1__icon">
								<img loading="lazy" src="img/icon/data.svg" alt="">
							</div>
							<div class="block-benefits1__text">
								<div class="block-benefits1__title">
									Точные сроки
								</div>
								<p>
									Соблюдаем оговоренные даты отгрузки
								</p>
							</div>
						</div>
						<div class="block-benefits1__column">
							<div class="block-benefits1__icon">
								<img loading="lazy" src="img/icon/check2.svg" alt="">
							</div>
							<div class="block-benefits1__text">
								<div class="block-benefits1__title">
									Высокое качество
								</div>
								<p>
									Работаем без брака, контроль ОТК
								</p>
							</div>
						</div>
						<div class="block-benefits1__column">
							<div class="block-benefits1__icon">
								<img loading="lazy" src="img/icon/price.svg" alt="">
							</div>
							<div class="block-benefits1__text">
								<div class="block-benefits1__title">
									Точный расчет
								</div>
								<p>
									Прозрачное ценообразование
								</p>
							</div>
						</div>
						<div class="block-benefits1__column">
							<div class="block-benefits1__icon">
								<img loading="lazy" src="img/icon/partners.svg" alt="">
							</div>
							<div class="block-benefits1__text">
								<div class="block-benefits1__title">
									Партнерство
								</div>
								<p>
									Долгосрочные отношения
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-services">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Основные услуги
						</h2>
						<div class="heading-complex__right">
							<a data-da=".block-services__content, 768, last" href="./" class="heading-complex__link">
								Все услуги
							</a>
							<div class="heading-complex__arrows">
								<div class="services-arrow-prev arrow-prev">
									<img loading="lazy" src="img/icon/arrow2.svg" alt="">
								</div>
								<div class="services-arrow-next arrow-next">
									<img loading="lazy" src="img/icon/arrow2.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-services__content">
					<div class="block-services__slider swiper">
						<div class="block-services__wrapper swiper-wrapper">
							<a href="./" class="block-services__slide swiper-slide">
								<div class="block-services__image">
									<img loading="lazy" src="img/services/image1.webp" alt="">
									<div class="block-services__arrow">
										<img loading="lazy" src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="block-services__text">
									<div class="block-services__title">
										Токарная обработка на ЧПУ
									</div>
									<p>
										Валы, втулки, фланцы, штуцеры, болты. Серийное производство от 10 шт
									</p>
								</div>
							</a>
							<a href="./" class="block-services__slide swiper-slide">
								<div class="block-services__image">
									<img loading="lazy" src="img/services/image2.webp" alt="">
									<div class="block-services__arrow">
										<img loading="lazy" src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="block-services__text">
									<div class="block-services__title">
										Фрезерная обработка на ЧПУ
									</div>
									<p>
										Корпуса, кронштейны, пластины, штампы. Сложная геометрия
									</p>
								</div>
							</a>
							<a href="./" class="block-services__slide swiper-slide">
								<div class="block-services__image">
									<img loading="lazy" src="img/services/image3.webp" alt="">
									<div class="block-services__arrow">
										<img loading="lazy" src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="block-services__text">
									<div class="block-services__title">
										Сопутствующие услуги
									</div>
									<p>
										Услуги, повышающие ценность основного заказа
									</p>
								</div>
							</a>
							<a href="./" class="block-services__slide swiper-slide">
								<div class="block-services__image">
									<img loading="lazy" src="img/services/image4.webp" alt="">
									<div class="block-services__arrow">
										<img loading="lazy" src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="block-services__text">
									<div class="block-services__title">
										Фрезерная обработка на ЧПУ
									</div>
									<p>
										Корпуса, кронштейны, пластины, штампы. Сложная геометрия
									</p>
								</div>
							</a>
							<a href="./" class="block-services__slide swiper-slide">
								<div class="block-services__image">
									<img loading="lazy" src="img/services/image4.webp" alt="">
									<div class="block-services__arrow">
										<img loading="lazy" src="img/icon/arrow1.svg" alt="">
									</div>
								</div>
								<div class="block-services__text">
									<div class="block-services__title">
										Фрезерная обработка на ЧПУ
									</div>
									<p>
										Корпуса, кронштейны, пластины, штампы. Сложная геометрия
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-portfolio">
				<div class="container">
					<div class="heading-complex">
						<h2 class="title2">
							Портфолио работ
						</h2>
						<div class="heading-complex__right">
							<a data-da=".block-portfolio__content, 768, last" href="./" class="heading-complex__link">
								Все работы
							</a>
							<div class="heading-complex__arrows">
								<div class="portfolio-arrow-prev arrow-prev">
									<img loading="lazy" src="img/icon/arrow2.svg" alt="">
								</div>
								<div class="portfolio-arrow-next arrow-next">
									<img loading="lazy" src="img/icon/arrow2.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-portfolio__content">
					<div class="block-portfolio__slider swiper">
						<div class="block-portfolio__wrapper swiper-wrapper">
							<div class="block-portfolio__slides swiper-slide">
								<a href="img/portfolio/image1.webp" data-fancybox="gallery1"
									class="block-portfolio__slide item-1">
									<img loading="lazy" src="img/portfolio/image1.webp" alt="">
									<div class="block-portfolio__zoom">
										<img loading="lazy" src="img/icon/zoom.svg" alt="">
									</div>
								</a>
								<a href="img/portfolio/image2.webp" data-fancybox="gallery1"
									class="block-portfolio__slide item-2">
									<img loading="lazy" src="img/portfolio/image2.webp" alt="">
									<div class="block-portfolio__zoom">
										<img loading="lazy" src="img/icon/zoom.svg" alt="">
									</div>
								</a>
							</div>
							<a href="img/portfolio/image3.webp" data-fancybox="gallery1"
								class="block-portfolio__slide swiper-slide item-3">
								<img loading="lazy" src="img/portfolio/image3.webp" alt="">
								<div class="block-portfolio__zoom">
									<img loading="lazy" src="img/icon/zoom.svg" alt="">
								</div>
							</a>
							<a href="img/portfolio/image4.webp" data-fancybox="gallery1"
								class="block-portfolio__slide swiper-slide item-3">
								<img loading="lazy" src="img/portfolio/image4.webp" alt="">
								<div class="block-portfolio__zoom">
									<img loading="lazy" src="img/icon/zoom.svg" alt="">
								</div>
							</a>
							<div class="block-portfolio__slides swiper-slide">
								<a href="img/portfolio/image1.webp" data-fancybox="gallery1"
									class="block-portfolio__slide item-1">
									<img loading="lazy" src="img/portfolio/image1.webp" alt="">
									<div class="block-portfolio__zoom">
										<img loading="lazy" src="img/icon/zoom.svg" alt="">
									</div>
								</a>
								<a href="img/portfolio/image2.webp" data-fancybox="gallery1"
									class="block-portfolio__slide item-2">
									<img loading="lazy" src="img/portfolio/image2.webp" alt="">
									<div class="block-portfolio__zoom">
										<img loading="lazy" src="img/icon/zoom.svg" alt="">
									</div>
								</a>
							</div>
							<a href="img/portfolio/image3.webp" data-fancybox="gallery1"
								class="block-portfolio__slide swiper-slide item-3">
								<img loading="lazy" src="img/portfolio/image3.webp" alt="">
								<div class="block-portfolio__zoom">
									<img loading="lazy" src="img/icon/zoom.svg" alt="">
								</div>
							</a>
							<a href="img/portfolio/image4.webp" data-fancybox="gallery1"
								class="block-portfolio__slide swiper-slide item-3">
								<img loading="lazy" src="img/portfolio/image4.webp" alt="">
								<div class="block-portfolio__zoom">
									<img loading="lazy" src="img/icon/zoom.svg" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="breadcrumbs">
				<div class="container">
					<ul>
						<li>
							<a href="#">
								<img src="img/icon/home.svg" alt="">
							</a>
						</li>
						<li><span>— Перейти на: токарные работы на ЧПУ</span></li>
					</ul>
				</div>
			</div>

			<div class="block-product-card1">
				<div class="top-product-card1">
					<div class="container">
						<div class="top-product-card1__content">
							<div class="top-product-card1__body">
								<h2 class="title2 big">
									Токарные работы на ЧПУ
								</h2>
								<p>
									Для производства деталей на ЧПУ используется импортное оборудование с числовым
									программным управлением. Имеем все необходимые мощности и возможности, необходимые
									для реализации мелких заказов и крупносерийного производства. Наша производственная
									платформа может поставлять высококачественные металлические детали по оптимальной
									цене и в кратчайшие сроки
								</p>
								<a data-popup="#call" href="./" class="btn btn-orange">
									<span>Заказать</span>
									<img loading="lazy" src="img/icon/arrow1.svg" alt="">
								</a>
							</div>
							<div class="top-product-card1__image">
								<img loading="lazy" src="img/image5.webp" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-product-card1">
					<div data-tabs class="tabs">
						<div class="tabs__navigations">
							<nav data-tabs-titles class="tabs__navigation">
								<button type="button" class="tabs__title _tab-active">Подробное описание</button>
								<button type="button" class="tabs__title">Технические
									характеристики</button>
								<button type="button" class="tabs__title">Материалы</button>
							</nav>
						</div>
						<div data-tabs-body class="tabs__content">
							<div class="tabs__body">
								<div class="container">
									<div class="tabs-descr1">
										<div class="tabs-descr1__column">
											<div class="tabs-descr1__image">
												<img loading="lazy" src="img/services/image3.webp" alt="">
											</div>
											<div class="tabs-descr1__text">
												<p>
													Предназначением оборудования с ЧПУ считается обработка деталей,
													конфигурация
													которых заключается в преобладании элементов тел вращения. Комплекс
													из жесткой
													конструкции, прецизионного станка и мощного мотора — это залог
													успешного
													сочетания резания и обработки для производства закаленной стальной
													детали.
													<br>
													Основные отличия процесса заключаются в высокой производительности,
													точности
													результата, а также в гибкости конфигурации.
												</p>
												<p>
													<span>Стандартный алгоритм токарно-фрезерных работ посредством
														станков ЧПУ
														представлен несколькими этапами, в виде:</span>
												</p>
											</div>
										</div>
										<div class="tabs-descr1__column">
											<div class="tabs-descr1__text">
												<ul>
													<li>
														<span>
															1.
														</span>
														Выбора заготовки;
													</li>
													<li>
														<span>
															2.
														</span>
														Технологической проработки и выбора инструментов;
													</li>
													<li>
														<span>
															3.
														</span>
														Создания программы;
													</li>
													<li>
														<span>
															4.
														</span>
														Привязки инструментов к осям станка;
													</li>
													<li>
														<span>
															5.
														</span>
														Пробного прогона и выполнения замеров;
													</li>
													<li>
														<span>
															6.
														</span>
														Коррекции деталей;
													</li>
												</ul>
												<p>
													Продолжительность каждого из этапов не превышает нескольких часов
													или даже
													минут. Исключением является токарные работы со сложными деталями,
													требующими высокой точности.
												</p>
											</div>
											<div class="tabs-descr1__image">
												<img loading="lazy" src="img/services/image4.webp" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs__body">
								<div class="container">
									<div class="tabs-characteristics">
										<div class="tabs-characteristics__title">
											Общие характеристики
										</div>
										<ul>
											<li>
												<div class="tabs-characteristics__name">
													Максимальная скорость вращения шпинделя
												</div>
												<div class="tabs-characteristics__value">
													10000 об/мин.
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Мощность шпинделя
												</div>
												<div class="tabs-characteristics__value">
													7,5 кВт.
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Максимальное расстояние от торца шпинделя до стола
												</div>
												<div class="tabs-characteristics__value">
													700 мм
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Размер стола
												</div>
												<div class="tabs-characteristics__value">
													550х1000 мм
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Максимальная нагрузка на стол
												</div>
												<div class="tabs-characteristics__value">
													800 кг
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Перемещение по оси X
												</div>
												<div class="tabs-characteristics__value">
													850 мм
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Перемещение по оси Y
												</div>
												<div class="tabs-characteristics__value">
													550 мм
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Перемещение по оси Z
												</div>
												<div class="tabs-characteristics__value">
													550 мм
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Количество позиций в магазине инструмента
												</div>
												<div class="tabs-characteristics__value">
													24 шт.
												</div>
											</li>
											<li>
												<div class="tabs-characteristics__name">
													Точность позиционирования по всем осям
												</div>
												<div class="tabs-characteristics__value">
													±0,004 мм
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tabs__body">
								<div class="container">
									<div class="tabs-descr2">
										<div class="tabs-descr2__title">
											Типы изготавливаемой продукции на этом станке
										</div>
										<div class="tabs-descr2__body">
											<div class="tabs-descr2__cards">
												<div class="tabs-descr2__column">
													<div class="tabs-descr2__image">
														<img loading="lazy" src="img/image6.webp" alt="">
													</div>
													<div class="tabs-descr2__text">
														<div class="tabs-descr2__name">
															Шестерни
														</div>
														<p>
															Шестерни являются универсальной деталью и нашли применение
															во множестве сфер. Их употребляют при создании часов,
															принтеров, мясорубок, блендеров, коробок передач и так
															далее. Существует множество разновидностей шестерен, каждая
															из которых подвергается определенному уровню нагрузки
														</p>
													</div>
												</div>
												<div class="tabs-descr2__column">
													<div class="tabs-descr2__image">
														<img loading="lazy" src="img/image7.webp" alt="">
													</div>
													<div class="tabs-descr2__text">
														<div class="tabs-descr2__name">
															Валы
														</div>
														<p>
															Валы используются во многих механизмах, в том числе и
															конвейерных. За счет добросовестного и качественного
															выполнения деталей, они становятся популярны в структуре
															многих печатных маши
														</p>
													</div>
												</div>
											</div>
											<div class="tabs-descr2__cards">
												<div class="tabs-descr2__column">
													<div class="tabs-descr2__image">
														<img loading="lazy" src="img/image8.webp" alt="">
													</div>
													<div class="tabs-descr2__text">
														<div class="tabs-descr2__name">
															Втулки
														</div>
														<p>
															По форме втулка представляет собой цилиндр со сквозным
															отверстием посередине. В зависимости от точного назначения
															детали она может снабжаться внутренней резьбой, каналами или
															отверстиями для поступления смазки, ступенями на наружной
															поверхности или внутри
														</p>
													</div>
												</div>
												<div class="tabs-descr2__column">
													<div class="tabs-descr2__image">
														<img loading="lazy" src="img/image9.webp" alt="">
													</div>
													<div class="tabs-descr2__text">
														<div class="tabs-descr2__name">
															Фланцы
														</div>
														<p>
															Фланец - это кольцо из стали или сплава с отверстиями для
															крепежных элементов - болтов/шпилек. Применение - для
															монтажа труб, сальников, задача - обеспечить разъемное
															соединение пустотелых изделий и элементов
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-blog">
				<div class="container">
					<div class="block-blog__content">
						<h2 class="title2 big">Блог</h2>
						<div class="block-blog__body">
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image1.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Всё, что необходимо знать о токарных работах на ЧПУ-станках
									</div>
									<p>
										Токарные работы с применением станков с числовым программным управлением –
										это
										обработка высокой степени точности
									</p>
								</div>
							</a>
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image2.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Обработка токарных металлических изделий
									</div>
									<p>
										Работы токарного типа – самый распространенный способ механической обработки
										продукции посредством резания. Применяется для обработки внутренних ...
									</p>
								</div>
							</a>
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image3.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Обработка токарных металлических изделий
									</div>
									<p>
										Работы токарного типа – самый распространенный способ механической обработки
										продукции посредством резания. Применяется для обработки внутренних ...
									</p>
								</div>
							</a>
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image3.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Обработка токарных металлических изделий
									</div>
									<p>
										Работы токарного типа – самый распространенный способ механической обработки
										продукции посредством резания. Применяется для обработки внутренних ...
									</p>
								</div>
							</a>
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image1.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Всё, что необходимо знать о токарных работах на ЧПУ-станках
									</div>
									<p>
										Токарные работы с применением станков с числовым программным управлением –
										это
										обработка высокой степени точности
									</p>
								</div>
							</a>
							<a href="./" class="block-blog__column">
								<div class="block-blog__image">
									<img loading="lazy" src="img/blog/image2.webp" alt="" class="">
									<div class="block-blog__data">11.12.2025</div>
								</div>
								<div class="block-blog__text">
									<div class="block-blog__title">
										Обработка токарных металлических изделий
									</div>
									<p>
										Работы токарного типа – самый распространенный способ механической обработки
										продукции посредством резания. Применяется для обработки внутренних ...
									</p>
								</div>
							</a>
						</div>
						<div class="pagination">
							<span class="pagination__item_nav pagination__item_nav-prev" href="./">
								<img src="img/icon/arrow2.svg" alt="">
								<div class="pagination__item_nav-text">
									Назад
								</div>
							</span>
							<div class="pagination__center">
								<div>
									<a class="pagination__item pagination__item_active" href="#">1</a>
								</div>
								<div>
									<a class="pagination__item" href="#">2</a>
								</div>
								<div>
									<a class="pagination__item pagination__item_ellipsis" href="#">...</a>
								</div>
								<div>
									<a class="pagination__item" href="#">14</a>
								</div>
								<div>
									<a class="pagination__item" href="#">15</a>
								</div>
							</div>
							<a class="pagination__item_nav pagination__item_nav-next" href="./">
								<div class="pagination__item_nav-text">
									Вперед
								</div>
								<img src="img/icon/arrow2.svg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="block-questions">
				<div class="container">
					<div class="block-questions__content">
						<h2 class="title2 big">Вопрос-ответ</h2>
						<div class="block-questions__body">
							<div data-spollers class="spollers">
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Как быстро рассматриваются заявки, в какие сроки дается ответ?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Нам нужно сделать деталь, но нет чертежей, Вы можете изготовить по
											образцу?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Можно ли к Вам приехать, посмотреть на производство?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Как Вы отправляете готовую продукцию заказчику? С какими
											автотранспортными
											компаниями вы работаете?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Какова гарантия на ваши изделия?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Сколько стоит зубчатое колесо/вал-шестерня/фрезеровка корпуса?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Можно ли к Вам приехать, посмотреть на производство?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Как Вы отправляете готовую продукцию заказчику? С какими
											автотранспортными
											компаниями вы работаете?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
								<div class="spollers__item">
									<div data-spoller class="spollers__title">
										<span>Как быстро рассматриваются заявки, в какие сроки дается ответ?</span>
										<div class="spollers__icon"></div>
									</div>
									<div class="spollers__body">
										<p>
											Да, мы можем изготовить деталь по образцу. Правда, стоить это будет
											дороже,
											нежели у производителя, потому что для нас это единичное изделие, а не
											серийное. Рекомендуем вам обратиться в первую очередь к вашему
											поставщику.
										</p>
									</div>
								</div>
							</div>
							<a href="./" class="btn">Загрузить еще</a>
						</div>
					</div>
				</div>
			</div>

			{% include 'blocks/forms.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	<div id="call" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div data-close class="popup__close">
					<img loading="lazy" src="img/icon/close.svg" alt="">
				</div>
				<div class="popup__body">
					<div class="popup__top">
						<div class="popup__title">Заказать звонок</div>
						<p>
							Оставьте номер телефонаи наш менеджер вам перезвонит
						</p>
					</div>
					<form action="#" class="form">
						<div class="form__inputs">
							<div class="form__input">
								<input data-required autocomplete="off" type="text" name="form[]" placeholder=" ">
								<div class="form__placeholder">Ваше имя <span>*</span></div>
							</div>
							<div class="form__input">
								<input data-required autocomplete="off" type="text" name="form[]" placeholder=" "
									class="telephone">
								<div class="form__placeholder">Номер телефона <span>*</span></div>
							</div>
						</div>
						<button type="submit" class="btn btn-orange">
							<span>Отправить</span>
							<img loading="lazy" src="img/icon/arrow1.svg" alt="">
						</button>
						<div class="form__text">
							Нажимая на кнопку “Отправить” вы соглашаетесь с обработкой <a href="./">персональных
								данных</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>