.block-forms {
  background: var(--theme-color-accent1);
  position: relative;
  overflow: hidden;
  padding: 72px 0px 90px 0px;
  @media (max-width: 768px) {
    padding: 54px 0px 70px 0px;
  }
  // .block-forms__pic1

  &__pic1 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: auto;
    @media (max-width: 1300px) {
      height: 452px;
    }
    @media (max-width: 992px) {
      height: 310px;
    }
  }

  // .block-forms__pic2

  &__pic2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 446px;
    width: auto;
    @media (max-width: 992px) {
      height: 200px;
    }
  }

  // .block-forms__content

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 768px) {
      gap: 35px;
    }
    .form {
      display: grid;
      gap: 25px 30px;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .form__input {
        @media (min-width: 993px) {
          &.form-input1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          &.form-input2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          &.form-input3 {
            grid-area: 1 / 3 / 2 / 4;
          }
          &.form-input4 {
            grid-area: 2 / 1 / 4 / 3;
          }
          &.form-input5 {
            grid-area: 2 / 3 / 3 / 4;
          }
          &.form-input6 {
            grid-area: 3 / 3 / 4 / 4;
          }
        }
        @media (max-width: 992px) {
          &.form-input1 {
            order: 1;
          }
          &.form-input2 {
            order: 2;
          }
          &.form-input3 {
            order: 4;
          }
          &.form-input4 {
            order: 5;
          }
          &.form-input5 {
            order: 3;
          }
          &.form-input6 {
            order: 6;
            margin: 20px 0px 0px 0px;
          }
        }
        &.form-input4 {
          background: #fff;
          padding: 29px 40px;
          height: 185px;
          border: 1px solid transparent;
          &._form-error {
            border: 1px solid red;
          }
          @media (max-width: 768px) {
            padding: 24px 30px 75px 30px;
            height: 140px;
          }
        }
        input {
          @media (max-width: 768px) {
            height: 70px;
            padding: 5px 30px;
            font-size: 16px;
          }
        }
        .form__placeholder {
          @media (max-width: 768px) {
            left: 30px;
          }
        }
      }
      .btn {
        white-space: wrap;
        @media (max-width: 768px) {
          min-height: 70px;
          font-size: 16px;
          img {
            display: none;
          }
        }
      }
    }
  }

  // .block-forms__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    color: #fff;
    @media (max-width: 1300px) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    @media (max-width: 768px) {
      gap: 23px;
    }
  }

  // .block-forms__title

  &__title {
    flex: 0 1 610px;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 42px;
    line-height: 131%;
    text-transform: uppercase;
    @media (max-width: 1300px) {
      flex: 1 1 auto;
      text-align: center;
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 127%;
    }
  }

  // .block-forms__subtitle

  &__subtitle {
    flex: 0 1 630px;
    display: flex;
    align-items: center;
    gap: 39px;
    @media (max-width: 1300px) {
      flex: 1 1 auto;
    }
    @media (max-width: 550px) {
      gap: 30px;
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 133%;
      span {
        font-weight: 700;
      }
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 138%;
      }
      @media (max-width: 550px) {
        font-size: 16px;
        line-height: 138%;
      }
    }
  }

  // .block-forms__icon

  &__icon {
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #114fd7;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: -8px;
      width: 108px;
      height: 108px;
    }
  }
}
