body {
  color: var(--theme-color-text-common);
  font-family: var(--font-family);
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  .lock & {
    overflow: hidden;
    padding: 0px 0px 0px 0px !important;
  }
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 40;
      background-color: rgba(8, 30, 22, 0.25);
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #fff;
  padding: 5px 24px;
  border: 3px solid var(--theme-color-accent1);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  min-height: 50px;
  &:hover {
    color: #fff;
    background-color: var(--theme-color-accent1);
  }
  &.btn-orange {
    background-color: var(--theme-color-accent2);
    color: #fff;
    border: 1px solid transparent;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.title1 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 80px;
  line-height: 106%;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 37px 0px;
  span {
    font-size: 37px;
    @media (max-width: 992px) {
      font-size: 30px;
    }
    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 136%;
    }
  }
  @media (max-width: 992px) {
    text-align: center;
    font-size: 65px;
  }
  @media (max-width: 768px) {
    font-size: 37px;
    line-height: 114%;
    gap: 15px;
    margin: 0px 0px 22px 0px;
  }
}

.title2 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 42px;
  line-height: 131%;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 127%;
  }
  &.big {
    font-size: 60px;
    line-height: 108%;
    margin: 0px 0px 61px 0px;
    @media (max-width: 768px) {
      font-size: 30px;
      margin: 0px 0px 20px 0px;
    }
  }
}

.heading-complex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0px 0px 50px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 33px 3px;
  }
  .title2 {
    margin: 0px 0px 0px 0px;
    flex: 1 1 auto;
  }
  // .heading-complex__right

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
  }

  // .heading-complex__link

  &__link {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--theme-color-accent1);
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  // .heading-complex__arrows

  &__arrows {
    display: flex;
    gap: 20px;
    align-items: center;
    @media (max-width: 992px) {
      display: none;
    }
  }
}

.breadcrumbs {
  position: relative;
  z-index: 10;
  padding: 21px 0px;
  background: #f1f3f5;
  @media (max-width: 768px) {
    padding: 15px 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    gap: 10px;
    @media (max-width: 768px) {
      gap: 5px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        color 0.3s,
        opacity 0.3s;
      img {
        width: 18px;
        height: 18px;
        @media (max-width: 480px) {
          width: 16px;
          height: 16px;
        }
      }
      &:hover {
        color: var(--theme-color-accent1);
      }
    }
    span {
      pointer-events: none;
      color: #64748b;
    }
  }
}

.tabs {
  // .tabs__navigations

  &__navigations {
    background: #f8fafc;
  }

  // .tabs__navigation

  &__navigation {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
    @media (max-width: 1200px) {
      flex-wrap: nowrap;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  // .tabs__title

  &__title {
    flex: 0 0 auto;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #64748b;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 40px;
    background-color: #f1f3f5;
    transition:
      background-color 0.3s,
      box-shadow 0.3s,
      color 0.3s;
    @media (max-width: 768px) {
      font-size: 18px;
      padding: 5px 20px;
      min-height: 70px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      padding: 5px 15px;
      min-height: 60px;
    }
    &:hover {
      color: #fff;
      background-color: #1b1d24;
    }
    &._tab-active {
      color: var(--theme-color-text-common);
      pointer-events: none;
      background-color: #fff;
      box-shadow: 0 5px 60px 0 rgba(40, 19, 6, 0.07);
    }
  }

  // .tabs__content

  &__content {
  }

  // .tabs__body

  &__body {
    background-color: #fff;
    padding: 60px 0px 95px 0px;
    @media (max-width: 992px) {
      padding: 40px 0px 20px 0px;
    }
  }
}
.tabs-descr1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (max-width: 992px) {
    gap: 24px;
  }
  @media (max-width: 768px) {
    gap: 15px;
  }

  // .tabs-descr1__column

  &__column {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: start;
      gap: 24px;
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
    &:nth-child(odd) {
      .tabs-descr1__text {
        padding: 11px 0px 0px 0px;
        @media (max-width: 1330px) {
          padding: 0px 0px 0px 0px;
        }
      }
    }
  }

  // .tabs-descr1__image

  &__image {
    display: flex;
    flex: 0 1 630px;
    height: 320px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
    @media (max-width: 550px) {
      height: 260px;
    }
    @media (max-width: 420px) {
      height: 190px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .tabs-descr1__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 1 600px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: 768px) {
        gap: 5px;
      }
      li {
        display: flex;
        gap: 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        span {
          font-weight: 900;
          color: var(--theme-color-accent2);
        }
        @media (max-width: 768px) {
          gap: 10px;
          font-size: 16px;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 144%;
      color: #64748b;
      span {
        font-weight: 500;
        color: #000;
      }
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
.tabs-descr2 {
  // .tabs-descr2__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin: 0px 0px 22px 0px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin: 0px 0px 20px 0px;
    }
  }

  // .tabs-descr2__body

  &__body {
  }

  // .tabs-descr2__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 28px 0px;
    gap: 50px;
    border-top: 1px solid #dddfe1;
    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 0px;
      padding: 0px 0px 0px 0px;
    }
  }

  // .tabs-descr2__column

  &__column {
    display: flex;
    gap: 30px;
    align-items: start;
    @media (max-width: 1200px) {
      gap: 20px;
    }
    @media (max-width: 992px) {
      border-bottom: 1px solid #dddfe1;
      padding: 28px 0px;
      &:last-child {
        border-bottom: none;
      }
    }
    @media (max-width: 768px) {
      padding: 15px 0px;
    }
    @media (max-width: 650px) {
      gap: 15px;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  // .tabs-descr2__image

  &__image {
    flex: 0 0 160px;
    @media (max-width: 650px) {
      flex: 0 0 130px;
    }
    @media (max-width: 480px) {
      flex: 0 1 auto;
      width: 130px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  // .tabs-descr2__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    @media (max-width: 650px) {
      gap: 8px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 138%;
      color: #64748b;
      @media (max-width: 650px) {
        font-size: 14px;
      }
    }
  }

  // .tabs-descr2__name

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    @media (max-width: 650px) {
      font-size: 18px;
    }
  }
}
.tabs-characteristics {
  ul {
    li {
      padding: 10px 0px;
      display: flex;
      gap: 20px;
      border-bottom: 1px dashed #dddfe1;
      &:first-child {
        border-top: 1px dashed #dddfe1;
      }
      @media (max-width: 480px) {
        padding: 5px 0px;
      }
    }
  }
  // .tabs-characteristics__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin: 0px 0px 22px 0px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin: 0px 0px 20px 0px;
    }
  }

  // .tabs-characteristics__name

  &__name {
    flex: 0 0 58%;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #64748b;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  // .tabs-characteristics__value

  &__value {
    flex: 0 0 42%;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}
