body {
  color: var(--theme-color-text-common);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  .lock & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 40;
      background-color: rgba(8, 30, 22, 0.25);
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #fff;
  padding: 5px 24px;
  border: 3px solid var(--theme-color-accent1);
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  min-height: 50px;
  &:hover {
    color: #fff;
    background-color: var(--theme-color-accent1);
  }
  &.btn-orange {
    background-color: var(--theme-color-accent2);
    color: #fff;
    border: 1px solid transparent;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
