.footer {
}

.top-footer {
  background: #1b1d24;
  color: #fff;
  padding: 82px 0px 75px 0px;
  @media (max-width: 768px) {
    padding: 60px 0px 52px 0px;
  }
  // .top-footer__content

  &__content {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 0px;
    }
  }

  // .top-footer__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &.last {
      ul {
        gap: 27px;
        padding: 43px 0px 0px 0px;
      }
    }
    @media (max-width: 600px) {
      gap: 0px;
      align-items: center;
    }
  }

  // .top-footer__title

  &__title {
    display: flex;
    text-align: left;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    img {
      display: none;
      width: 20px;
      height: 20px;
      transform: rotate(-180deg);
      transition: transform 0.3s;
      @media (max-width: 600px) {
        display: block;
      }
    }
    &._spoller-active {
      img {
        transform: rotate(0deg);
      }
    }
    @media (max-width: 600px) {
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 10px;
      padding: 25px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &.mob {
        display: none;
      }
    }
  }

  // .top-footer__body

  &__body {
    ul {
      display: flex;
      flex-direction: column;
      gap: 22px;
      @media (max-width: 600px) {
        align-items: center;
        width: 100%;
        justify-content: center;
        max-width: 250px;
        gap: 15px;
        padding: 30px 0px 35px 0px;
      }
      li {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        @media (max-width: 768px) {
          font-size: 20px;
        }
        a {
          display: flex;
          align-items: start;
          transition: color 0.3s;
          gap: 8px;
          img {
            width: 18px;
            height: 18px;
          }
          &:hover {
            color: var(--theme-color-accent2);
          }
          &.phone {
            @media (max-width: 600px) {
              font-size: 18px;
              line-height: 111%;
            }
          }
          &.email {
            @media (max-width: 600px) {
              font-weight: 400;
              font-size: 16px;
              line-height: 125%;
            }
          }
        }
        div {
          display: flex;
          align-items: start;
          transition: color 0.3s;
          gap: 8px;
          img {
            width: 18px;
            height: 18px;
          }
          &:hover {
            color: var(--theme-color-accent2);
          }
          &.location {
            @media (max-width: 600px) {
              font-weight: 400;
              font-size: 16px;
              line-height: 138%;
            }
          }
        }
      }
    }
  }
}

.bottom-footer {
  background: #000;
  padding: 62px 0px;
  @media (max-width: 768px) {
    padding: 50px 0px 45px 0px;
  }
  // .bottom-footer__content

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 15px;
      justify-items: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media (max-width: 600px) {
        order: 3;
      }
      li {
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
        }
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #64748b;
          transition: color 0.3s;
          &:hover {
            color: #fff;
          }
          @media (max-width: 600px) {
            text-align: center;
          }
        }
      }
    }
  }

  // .bottom-footer__logo

  &__logo {
    display: flex;
    @media (max-width: 600px) {
      order: 1;
      margin: 0px 0px 25px 0px;
    }
    img {
      height: 50px;
      width: auto;
    }
  }

  // .bottom-footer__copy

  &__copy {
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #64748b;
    @media (max-width: 600px) {
      text-align: center;
      order: 4;
    }
  }

  // .bottom-footer__socials

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 600px) {
      order: 2;
      margin: 0px 0px 20px 0px;
      justify-content: center;
      gap: 10px 20px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
      background-color: var(--theme-color-accent1);
      border-radius: 50%;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--theme-color-accent2);
      }
    }
  }
}
