.form {
    width: 100%;
    .btn {
        width: 100%;
        min-height: 80px;
        gap: 12px;
        font-size: 18px;
        line-height: 111%;
        img {
            display: block;
            width: 24px;
            height: 24px;
            margin: -2px 0px 0px 0px;
        }
        @media (max-width: 480px) {
            min-height: 60px;
            font-size: 16px;
        }
    }
    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0px 0px 35px 0px;
        @media (max-width: 480px) {
            margin: 0px 0px 20px 0px;
        }
    }

    // .form__input

    &__input {
        position: relative;
        input {
            transition: color 0.3s;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 80px;
            background: #fff;
            padding: 5px 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 138%;
            border: 3px solid transparent;
            &::placeholder {
                transition: color 0.3s;
                color: #64748b;
            }
            &._form-error {
                border: 3px solid #ea580c;
            }
            @media (max-width: 480px) {
                font-size: 14px;
                padding: 5px 20px;
                height: 60px;
            }
        }
        textarea {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 90px;
            font-weight: 400;
            font-size: 16px;
            line-height: 138%;
            transition: color 0.3s;
            &::placeholder {
                transition: color 0.3s;
                color: #64748b;
            }
            @media (max-width: 992px) {
                height: 93px;
            }
            @media (max-width: 768px) {
                height: 40px;
            }
        }
        &:hover {
            .form__placeholder {
                color: var(--theme-color-text-common);
            }
            input,
            textarea {
                &::placeholder {
                    color: var(--theme-color-text-common);
                }
            }
        }
        &._form-focus {
            .form__placeholder {
                opacity: 0;
                pointer-events: none;
            }
        }
        &.filled {
            .form__placeholder {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    // .form__placeholder

    &__placeholder {
        transition: color 0.3s;
        pointer-events: none;
        position: absolute;
        left: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
        color: #64748b;
        top: 50%;
        transform: translate(0, -50%);
        span {
            color: var(--theme-color-accent2);
        }
        @media (max-width: 480px) {
            font-size: 14px;
            left: 20px;
        }
    }

    // .form__text

    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        text-align: center;
        color: #64748b;
        margin: 22px 0px 0px 0px;
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            transition: color 0.3s;
            &:hover {
                color: var(--theme-color-accent1);
            }
        }
        @media (max-width: 480px) {
            font-size: 12px;
        }
    }

    // .form__file

    &__file {
        cursor: pointer;
        font-family: var(--second-family);
        font-weight: 800;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: right;
        color: var(--theme-color-accent1);
        display: flex;
        align-items: center;
        img {
            width: 20px;
            height: 20px;
            margin: 0px 6px 0px 0px;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        @media (max-width: 768px) {
            text-align: left;
        }
    }

    // .form__files

    &__files {
        display: flex;
        justify-content: space-between;
        position: absolute;
        gap: 5px;
        bottom: 30px;
        left: 40px;
        width: calc(100% - 80px);
        @media (max-width: 768px) {
            left: 30px;
            width: calc(100% - 60px);
            bottom: 20px;
            flex-direction: column;
            justify-content: start;
        }
    }
}

.previews {
    display: flex;
    justify-content: start;
    &.active {
        display: flex;
    }
    .preview {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    .preview-close {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &::before {
            content: "";
            background-size: 100%;
            width: 14px;
            height: 15px;
            background-image: url("../img/icon/close2.svg");
        }
    }
}

.select {
    min-width: 0;
    position: relative;
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        width: 100%;
        color: inherit;
        text-align: left;
        height: 80px;
        padding: 5px 48px 5px 40px;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        @media (max-width: 768px) {
            height: 70px;
            padding: 5px 38px 5px 30px;
        }
        &::before {
            content: "";
            position: absolute;
            right: 40px;
            top: 28px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            background-color: var(--theme-color-accent2);
            @media (max-width: 768px) {
                right: 30px;
                top: 23px;
            }
        }
        &::after {
            content: "";
            position: relative;
            z-index: 5;
            transition: transform 0.3s;
            flex: 0 0 7px;
            width: 7px;
            height: 5px;
            display: block;
            margin: 0px 0px -2px 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url("../img/icon/arrow3.svg");
            transition: filter 0.3s;
        }
        ._select-open & {
            &::after {
                content: "";
                transform: rotate(-180deg);
                margin: 0px 0px 0px 0px;
            }
        }
    }
    // .select__value
    &__value {
        display: flex;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        text-align: left;
        flex: 1 1 auto;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        min-width: 100%;
        left: 0;
        background-color: #fff;
        margin: 4px 0px 0px 0px;
        padding: 10px 0px 5px 0px;
        max-height: 115px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            min-height: 80px;
            border-bottom: 1px solid #64748b;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 5px 40px;
        color: inherit;
        font-weight: 700;
        font-size: 14px;
        line-height: 133%;
        text-transform: uppercase;
        transition: color 0.3s;
        &:hover {
            color: var(--theme-color-accent2);
        }
        @media (max-width: 768px) {
            padding: 5px 30px;
        }
    }
}
