body::after {
    content: "";
    background-color: rgba(27, 29, 36, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    overflow: hidden;
    max-width: 412px;
    padding: 44px 40px 42px 40px;
    box-shadow: 0 5px 60px 0 rgba(40, 19, 6, 0.07);
    background: #eef0f2;
    .lock & {
        visibility: visible;
    }
    @media (max-width: 480px) {
        padding: 44px 20px 42px 20px;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    background-color: var(--theme-color-accent1);
    transition: opacity 0.3;
    img {
        width: 11px;
        height: 11px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.popup {
    // .popup__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width: 480px) {
            gap: 15px;
        }
    }

    // .popup__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 480px) {
            gap: 10px;
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 133%;
            text-align: center;
            color: #1b1d24;
            @media (max-width: 480px) {
                font-size: 16px;
            }
        }
    }

    // .popup__title

    &__title {
        font-family: var(--second-family);
        font-weight: 900;
        font-size: 30px;
        line-height: 127%;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: 480px) {
            font-size: 24px;
        }
    }
}
