:root {
  --container-width: 1330px;
  --container-padding: 40px;
  --theme-color-accent1: #2563eb;
  --theme-color-accent2: #ea580c;
  --theme-color-text-common: #000;

  --font-family: "Roboto", sans-serif;
  --second-family: "NotoSans", sans-serif;
}
